<header class="encabezado">
  <!-- Barra superior -->
  <div class="barra-top">
    <div class="contenedor-header barra-top__contenido">
      <div class="barra-top__texto">Novedades asd asd asd</div>

      <div class="barra-top__acciones">
        <a class="link-top" routerLink="/registro">REGISTRARSE</a>
        <a class="link-top" routerLink="/login">INICIAR SESIÓN</a>
      </div>
    </div>
  </div>

  <!-- Barra principal -->
  <div class="barra-main">
    <div class="contenedor-header barra-main__contenido">
      <!-- Logo -->
      <a class="logo" routerLink="/" >
        <img class="logo__img" src="/images/logo.svg" alt="Punto Lovera" />
      </a>

      <!-- Navegación -->
      <nav class="nav">
        <a class="nav__link" routerLink="/subastas">Próximas subastas</a>
        <a class="nav__link" routerLink="/quienes-somos">Quiénes somos</a>
        <a class="nav__link" routerLink="/contactanos">Contactanos</a>
      </nav>

      <!-- Botones derecha -->
      <div class="cta">
        <a class="btn-negro" routerLink="/quiero-comprar">Quiero comprar</a>
        <a class="btn-negro" routerLink="/quiero-vender">Quiero vender</a>
      </div>
    </div>
  </div>
</header>
