/* HERO IMAGE */
.hero {
  min-height: calc(100vh - 115px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* el background se setea por style binding en el HTML */

.hero-contenido {
  transform: translateY(55px);
}

.titulo-wrap {
  position: relative;
  text-align: center;
}

.titulo {
    font-size: 90px; 
    line-height: 1; 
    margin: 0; 
    font-family: 'Playfair Display', serif; 
    font-weight: 50; 
    line-height: 0.85; 
    color: #2E2D2B; 
    text-transform: uppercase;
}

.detalle {
font-size: 75px;
  line-height: 1;
  margin: 0;
  margin-top: -20px;   
  font-family: 'WindSong', cursive;
  font-weight: 400;
  color: #3e6d72; 
}

.hero .subtitulo {
  max-width: 640px;
  margin: 2.75rem auto 2rem;
  color: #5a5655;
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.btn-primario {
  background: #000;
  text-decoration: none;
  color: #fff;
  border: none;
  padding: 12px 80px;
  border-radius: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  font-size: 18px;
  margin-top: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.btn-primario:hover {
  filter: brightness(1.05);
}
