/* Google Fonts: Playfair Display (titular) + Windsong (detalle) */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900');
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}